<!DOCTYPE html>
    <title>Karonese101</title>
<html lang="en">

  <body style=height:1430px>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap" rel="stylesheet">
<main>
        <div style="position:absolute; background:#1262e3; width:100%; height:300px">
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/dcode.css">
  <head>
    <style>
      hr.one {
      color:#c21616;
      height: 5px
      }
    </style>
      <style>
          div.pp {
            text-shadow: 2px 2px #ff0000;
             position:Absolute; left:695px; top:85px
          }
      </style>
      <style>
          .footer {
          font-family:'Georgia';
          font-size:1vw;
          max-width:600px;
          position:relative;
          right:-890px;
          top:1380px;
          }
          .footer:before {
          content:"";
          display:block;
          width: 120px;
          height: 1px;
          background: #000;
          position: absolute;
          top:14px;
          left:-120px
          }
          .footer:after {
          content:"";
          display:block;
          width: 120px;
          height: 1px;
          background: #000;
          position: absolute;
          top:14px;
          left:185px
      </style>
  </head>
  <h1 class="visually-hidden">Sidebars examples</h1>

      <div style="position:fixed">
  <div class="p-3 text-white bg-dark" style="width: 280px;">
    <a>
        <p class="fs-4" style="font-family:'Bitter';margin: 5px 0px -5px -5px"><font size="6">&nbsp;Menu</font></p>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{% url 'home'%}" class="nav-link text-white">
          <p style = "font-family:'Bitter',serif;"><font size="+1"><u>Home</u></font>
        </a>
      </li>
      <li>
        <a href="{% url 'about'%}" class="nav-link text-white">
           <p style = font-family:'Bitter',serif;><font size="+1">Notes</font>
        </a>
      </li>
      <li>
        <a href="{% url 'game'%}" class="nav-link text-white" aria-current="page">
          <p style = font-family:'Bitter',serif;><font size="+1">Game</font>
        </a>
      </li>
      <li>
        <a href="{% url 'coming_soon'%}" class="nav-link text-white">
          <p style = font-family:'Bitter',serif;><font size="+1">Coming Soon</font>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="390px"></svg>
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
    </div>
  </div>
  </div>
      <div class="pp">
        <a class="nav-link text-white">
         <p style = font-family:'Bitter';font-size:5.2vw;>Karonese101
        </a>
      </div>
    <div style="position:Absolute; left:280px; top:40px">
     <img src= https://i.imgur.com/e2TX8gI.png style="width:450px;">
    </div>
    <div style="position:Absolute; left:1300px; top:10px">
     <img src= https://i.imgur.com/S8mJLCP.png style="width:400px;">
    </div>
    <div style="position:Absolute; left:1125px; top:320px">
     <img src= https://i.imgur.com/z0sGEuB.png style="width:600px;">
    </div>
     <div style = "position:Absolute; left:325px; top:310px;">
        <a class="nav-link" style="color:#c21616">
          <hr class="one">
         <p style = "font-family:'Bitter';font-size:2.8vw; -webkit-text-stroke: 2px #832A0D; margin: -10px 50px;">What is Karonese101?
          <hr class="one">
        </a>
      </div>
     <div style = "position:Absolute; left:320px; top:420px;">
        <a class="nav-link" style="color:black">
         <p style = "font-family:'Georgia';font-size:1.1vw; text-align:justify;margin: 0px 600px 0px 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Karonese101 is an educational website where you can
          learn many different things about karonese culture with many different ways such as interactive games, organized notes, and many more to come. The goal of this website is to make people understand more about
          karonese culture in a fun yet effective way. This website will also be made in an easy to understand way so that people who do not know much about karonese culture will
          still be able to understand the contents of this website.
        </a>
      </div>
    <div style = "position:Absolute; left:975px; top:620px;">
        <a class="nav-link" style="color:#c21616">
          <hr class="one">
         <p style = "font-family:'Bitter';font-size:2.8vw; -webkit-text-stroke: 2px #832A0D; margin: -10px 100px; ">Future of Karonese101
          <hr class="one">
        </a>
      </div>
     <div style = "position:Absolute; left:720px; top:740px;">
        <a class="nav-link" style="color:black">
         <p style = "font-family:'Georgia';font-size:1.1vw; text-align:justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As of right now, Karonese101 only has a few features which are the home page where you can read information regarding the website, the notes page where you are provided
            some notes about various topics within Karonese culture, and a game about the 12 karonese family relations(Perkade-kaden 12), but in the future I plan to add a lot more to this website. Some things I plan to add are more games about karonese culture, a game about karonese
             language, and also new features for instance a login feature and a language feature.
        </a>
      </div>
      <div style="position:absolute; left:250px; top:640px">
          <img src="https://i.imgur.com/XDKyuA7.png">
      </div>
          <div style = "position:Absolute; left:320px; top:1000px;">
        <a class="nav-link" style="color:#c21616">
          <hr class="one">
         <p style = "font-family:'Bitter';font-size:2.8vw; -webkit-text-stroke: 2px #832A0D; margin: -10px 50px;">Background of Karonese101
          <hr class="one">
        </a>
      </div>
           <div style = "position:Absolute; left:320px; top:1120px;">
        <a class="nav-link" style="color:black">
         <p style = "font-family:'Georgia';font-size:1.1vw; text-align:justify;margin: 0px 600px 0px 0px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Karonese101 is a website that I made myself with the help of a few family members after deciding to make a website as my first coding project. In the middle of my summer break, I decided to pick up
            a new hobby. At first, I didn't know what hobby I wanted to explore, but at the end I decided to learn how to code. After learning the basics of coding, I wanted to make my first project and decided to make a
            website. The problem was I didn't know what to put in the website. After some discussion with my dad, we decided to make the website about karonese culture. And thats how I ended up making Karonese101.
        </a>
      </div>
            <div style="position:absolute; left:1100px; top:950px">
          <img src="https://i.imgur.com/2JX3MuR.png">
      </div>
    <div>
    <p class="footer"><i>Made by Joshua Pascal</i></p>
    </div>
    </main>
